/***********************
Page elements
***********************/

body,
h1,
h2 {
    margin: 0;
    font-family: 'Merriweather', serif;
}

hr {
    height: 2px;
    margin: .25em 0;
    border: none;
    background-color: black;
}

.double-line {
    height: 4px;
}

/*******************************
Page header and form header
*******************************/

.page-header {
    display: flex;
    background-color: #3f4a5b;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    height: 8em;
    font-size: .65em;
}

.page-title {
    justify-content: center;
    flex: 1;
    margin: auto;
}

.form-header {
    display: flex;
    flex-direction: column;
    color: #3f4a5b;
    text-align: center;
    font-size: .8em;
}

.form-title {
    flex: 1;
    margin-top: 1em;
    margin-bottom: .5em;
}

.form-description {
    color: #a4a8ad;
    margin: 0 1em 2em 1em;
}


.container {
    margin: 1em;
}

/***********************
   Form elements
***********************/

fieldset {
    border-style: none;
    margin: 1em 0;
    padding: 0;
}

legend {
    padding-left: 0;
    color: #3f4a5b;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

label {
    color: #3f4a5b;
    display: inline-block;
    font-weight: 200;
}

select {
    color: #a4a8ad;
}

option:not(:checked) {
    color: black;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    box-sizing: border-box;
    background-color: #eeeeee;
    border-color: transparent;
    border-radius: .25em;
    border-style: solid;
    margin: .5em 0 1em 0;
    padding: 1em 1.5em;
    transition: border .5s ease;
}

input[type=checkbox],
input[type=radio] {
    margin: .25em .5em .5em 0;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: 1px solid #3f4a5b;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #3f4a5b;
    border-style: solid;

    transition: border .5s ease;
}

input::placeholder,
textarea::placeholder {
    color: #a4a8ad;
    text-align: right;
}

#zip {
    width: 12em;
}

textarea {
    height: 7em;
}

.submit {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #22c9b5;
    color: white;
    border-radius: .25em;
    border-style: none;
    height: 2.5em;
    font-size: 1.25em;
    flex: 1;
}

.footer {
    text-align: center;
    color: #a4a8ad;
    margin: 2em 0;
    font-style: italic;
}

.contact-input,
.contact-select,
.zip-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contact-input > input,
.contact-input > select {
    flex: 1;
}

.label-input {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .page {
        margin: 0 1em;
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .contact-input,
    .zip-input {
        flex-direction: row;
    }

    .contact-input > label,
    .zip-input > label {
        flex: 0 0 12em;
        align-self: center;
    }

    .contact-input > input,
    .contact-input > select,
    .zip-input > .zip-text {
        flex: 4;
    }
}